/* :host,
app-membresias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

span {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}