<span class="contenedorRegistrar">

    <div class="contenidoRegistrar">

        <div style="margin-bottom: 10px; font-size: xx-large;">Registrar</div>
        
        <form (ngSubmit)="onSubmit()">
            <div class="instruccion">Llene los campos y de click en "registrarse".</div>
            <div>
                <label for="campoNombre">Nombre:</label>
                <input id="campoNombre" type="text" name="nombre" [(ngModel)]="nombre" required maxlength="200">
            </div>
            <div class="formatoError">{{errorNombre}}</div>
            <div>
                <label for="campoCorreoElectronico">Correo electronico:</label>
                <input id="campoCorreoElectronico" type="text" name="correoElectronico" [(ngModel)]="correoElectronico" required maxlength="254">
            </div>
            <div class="formatoError">{{errorCorreoElectronico}}</div>
            <div>
                <label for="campoContraseña">Contraseña:</label>
                <input id="campoContraseña" type="password" name="contraseña" [(ngModel)]="contrasena" required minlength="8" maxlength="100">
            </div>
            <div class="formatoError">{{errorContrasena}}</div>
            <div>
                <label for="campoConfirmarContraseña">Confirmar contraseña:</label>
                <input id="campoConfirmarContraseña" type="password" name="confirmarContraseña" [(ngModel)]="confirmarContrasena" required minlength="8" maxlength="100">
            </div>
            <div class="formatoError">{{errorConfirmarContrasena}}</div>
            <div>
                <label for="campoSexo">Sexo:</label>
                <select id="campoSexo" name="sexo" [(ngModel)]="sexo">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="formatoError">{{errorSexo}}</div>
            <label><input type="checkbox" (change)="aceptarPoliticasDePrivacidad()">Acepto las politicas de privacidad.</label>
            <label><input type="checkbox" (change)="aceptarUsosYCondiciones()">Acepto los usos y condiciones.</label>
            <div style="align-items: center; margin-top: 25px; display: flex; justify-content: space-between;">
                <a [routerLink]="['/ingresar']">< Volver</a>
                <button type="submit" style="margin: 0px 52.5px;">Registrar</button>
            </div>
        </form>

    </div>

</span>