<div class="account-recovery-container">
    <h1>Recuperar cuenta</h1>
    <p>Ingrese el correo electrónico perteneciente a su cuenta SmartGYM.</p>
  
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
  
      <div class="form-group">
        <label for="confirmEmail">Confirmar correo electrónico</label>
        <input type="email" class="form-control" id="confirmEmail" name="confirmEmail" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
  </div>
  