<span class="contenedorIniciarSesion">
  <div class="contenidoIniciarSesion">
    <div style="margin-bottom: 10px; font-size: xx-large;">Recuperar cuenta</div>
    <p>Ingrese su nueva contraseña.</p>

    <form [formGroup]="datosRecuperacion" (ngSubmit)="confirmarNuevaContrasena()">
   
  
      <div>
        <label for="nuevaContrasena">Nueva contraseña:</label>
        <input 
          type="password" 
          id="nuevaContrasena" 
          name="nuevaContrasena" 
          placeholder="Nueva contraseña" 
          required 
          #nuevaContrasenaInput>
      </div>

      <div>
        <label for="confirmarContrasena">Confirme su contraseña:</label>
        <input 
          type="password" 
          id="confirmarContrasena" 
          name="confirmarContrasena" 
          placeholder="Confirme su contraseña" 
          required 
          #confirmarContrasenaInput>
      </div>

      <div class="contenedor-acciones">
        <button type="submit" style="margin: 0px auto;">Confirmar</button>
        <div class="mensaje-error">{{ mensajeError }}</div>
      </div>
    </form>
  </div>
</span>
