<div class="contenedor-base">
  <div class="contenedor-interno">
    <h2>Recuperar cuenta</h2>
    <p>Ingrese el correo electrónico perteneciente a su cuenta SmartGYM.</p>
  
    <form [formGroup]="datosRecuperacion" (ngSubmit)="recuperarCuenta()">
      <div class="campo-formulario">
        <label for="email">Correo electrónico</label>
        <input type="email" 
        class="campo-formulario-control" 
        id="email" 
        formControlName="email" required>
      </div>
  
      <div class="campo-formulario">
        <label for="confirmEmail">Confirmar correo electrónico</label>
        <input type="email" class="campo-formulario-control" id="confirmEmail" formControlName="confirmEmail" required>
      </div>
  
      <button type="submit" class="btn btn-primario">Confirmar</button>
    </form>
  </div>
</div>
