.contenedor-recuperar-cuenta {
  border: 2px solid black;
  padding: 20px;
  width: 400px; /* Ajusta el ancho según sea necesario */
  margin: 0 auto; /* Centra el contenedor */
}

.contenedor-interno-recuperar-cuenta {
  background-color: #fff;
  padding: 20px;
}

h2, p {
  text-align: center;
  margin-bottom: 10px;
}

.codigo-container {
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.campo-codigo {
  width: 150px; /* Ancho más pequeño */
  padding: 5px;
  border: 1px solid #ccc;
  appearance: none;
  margin-bottom: 10px;
}

.codigo-incorrecto {
  color: red;
  text-align: center;
  margin-top: 10px;
  display: none; /* Inicialmente oculto */
}

.boton-confirmar {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: 2px solid black; 
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
}


.boton-confirmar:hover {
  background-color: darkred;
  text-align: center;
}
