.contenedorHeader {
    width: 100%;
    min-width: 375px;
    height: 60px;
    padding: 5px;
    background: #073763;
    display: flex;
    border-bottom: 2px solid #000;
}

.contenidoHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

.contenidoHeader > li {
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
}

.tituloHeader {
    font-size: 38px;
    font-weight: 500;
}

.botonesHeader, img {
    width: 48px;
    height: 48px;
}

