.contenedorIdentificacion {
    max-width: 750px;
    height: 597px;
    display: flex;
}

.contenidoIdentificacion{
    width: 355px;
    height: 587px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    background: #333333;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: white;
    font-size: 20px;
    
}

.contenidoIdentificacion > li {
    margin-bottom: 15px;
}

.identificacionImagen {
    max-width: 315px;
    width: 315px;
    max-height: 315px;
    height: 315px;
}

.identificacionImagen > img {
    max-width: 315px;
    max-height: 315px;
}

/*tarjeta frontal*/
.botonesFrontales {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

.botonesFrontales > button > img {
    max-width: 69px;
}

/*voltear identificacion*/
.botonVoltearIdentificacion {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

/*comodines*/
.formatoSubtitulo {
    font-weight: 500;
}

/*responsive*/
@media screen and (max-width: 750px) {
    .contenidoIdentificacion:nth-child(2) {
        display: none;
      }

      .botonVoltearIdentificacion {
        display: flow;
      }
}