<span class="contenedorIdentificacion" [ngStyle]="{'justify-content': mostrarAmbasCaras ? 'space-between' : 'center'}">
    <ul class="contenidoIdentificacion" *ngIf="mostrarCaraFrontal">
        <li class="identificacionImagen">
            <img src="{{usuarioMembresiaImagen}}" alt="nivelMembresia">
        </li>
        <li>
            <label class="formatoSubtitulo">Membresia: </label>
            <label>{{usuarioMembresiaName}}</label>
        </li>
        <li>
            <label class="formatoSubtitulo">Estado: </label>
            <label>{{usuarioMembresiaEstado}}</label>
        </li>
        <li>
            <label class="formatoSubtitulo">termina: </label>
            <label>{{usuarioMembresiaFechaLimite}}</label>
        </li>
        <li class="botonesFrontales">
            <button class="limpiarBoton">
                <img src="{{iconoUpdate}}" alt=":3">
            </button>
            <button class="limpiarBoton">
                <img src="{{iconoDelete}}" alt=">:c">
            </button>
        </li>
    </ul>

    <ul class="contenidoIdentificacion" *ngIf="mostrarCaraTracera">
        <li class="identificacionImagen">
            <img src="{{usuarioQR}}" alt="nivelMembresia">
        </li>
        <li>
            <label>{{usuarioName}}</label>
        </li>
        <li>
            <label class="formatoSubtitulo">Sexo: </label>
            <label>{{usuarioSexo}}</label>
        </li>
        <li>
            <label class="formatoSubtitulo">Registrado desde: </label>
            <label>{{usuarioFechaDeRegistro}}</label>
        </li>
    </ul>
</span>

<button class="botonVoltearIdentificacion" type="button" (click)="voltearIdentificacion()">voltear</button>